<footer class="footer">
  <div class="container">
    <nav class="nav nav--footer">
      <div class="nav__logo">
        <h2 class="logo logo--footer"><a href="#">GoTrip</a></h2>
      </div>

      <ul class="nav__list nav__list--footer">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <ul class="nav__login nav__login--footer">
        <li><a href="#">Sign up</a></li>
        <li><a href="#" class="btn btn--login">Login</a></li>
      </ul>
    </nav>
  </div>
</footer>
