.cta {
  padding: 100px 0;

  &__plate {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 580px;
    padding: 40px 15px;

    background-color: #fff;
    border-radius: 60px;

    &::before,
    &::after {
      position: absolute;
      width: 63px;
      height: 83px;

      content: '';
    }

    &::before {
      left: 74px;
      bottom: 56px;
      background-image: url('./../img/cta/cta-el-01.svg');
    }

    &::after {
      top: 74px;
      right: 80px;
      background-image: url('./../img/cta/cta-el-02.svg');
    }
  }

  &__title {
    font-weight: 500;
    font-size: 45px;
    line-height: 1.5;
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 74px;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--secondary);
  }
}
