@media (max-width: 1269px) {
  .container-right {
    padding-left: 15px;
  }

  .container-left {
    padding-right: 15px;
  }
}

@media (max-width: 1200px) {
  .destinations__slider {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .nav {
    column-gap: 50px;

    &__list {
      column-gap: 50px;

      &--header {
        display: none;
      }
    }

    &__login--header {
      display: none;
    }

    &__toggle {
      display: block;
    }

    &--mobile {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 99;

      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;

      background: linear-gradient(209deg, #428e5f -17.38%, #112120 78.4%), #204434;

      & .logo {
        font-size: 34px;
      }

      & .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;

        font-size: 22px;
      }

      & .nav__list a.active::after,
      & .nav__list a:hover::after {
        display: none;
      }

      & .nav__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;

        font-size: 22px;
      }

      & .nav__toggle {
        position: fixed;
        top: 50px;
        right: 50px;
      }
    }
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .header__img img {
    right: -256px;
  }

  .header__img::after {
    right: -300px;
  }

  .destinations__slider {
    width: 600px;
  }

  .slider {
    height: 304px;

    & .slider__item {
      margin-top: 18px;
      width: 223px;
      height: 268px;
    }

    & .center .slider__item {
      margin-top: 0;
      width: 253px;
      height: 304px;
    }
  }
}

@media (max-width: 850px) {
  .container-right {
    padding-right: 15px;
  }

  .header {
    padding-top: 20px;
    min-height: unset;

    &__top {
      margin-bottom: 40px;
    }

    &__row {
      flex-direction: column;
    }

    &__img img {
      position: static;
      width: 70%;
      height: auto;
    }

    &__img::after {
      top: 100px;
      right: 0px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 35px;
    }

    &__text {
      max-width: 400px;
      margin-bottom: 40px;
      font-size: 20px;
    }

    &__badge {
      margin-bottom: 5px;
      padding: 8px 20px;
      font-size: 16px;
      border-radius: 10px;
    }
  }

  .btn--header {
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 18px;
  }

  .destinations {
    padding: 40px 0 50px;

    &__row {
      flex-direction: column;
      row-gap: 30px;
    }

    &__slider {
      width: 100%;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 35px;

      & span {
        font-size: 20px;
        display: block;
      }
    }

    &__text {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  .slider__btn--prev {
    left: -15px;
  }
  .slider__btn--next {
    right: -15px;
  }

  .btn {
    padding: 20px 35px;
    border-radius: 20px;
    font-size: 18px;

    &--login {
      padding: 13px 44px;
      font-size: 15px;
      font-weight: 500;
      border-radius: 100px;
    }
  }

  .customers {
    padding: 50px 0 60px;

    &__row {
      column-gap: 30px;
    }

    &__title {
      margin-bottom: 25px;
      font-size: 35px;
    }

    &__img img {
      border-radius: 40px;
    }
  }

  .review {
    &__client {
      column-gap: 30px;
      margin-bottom: 20px;

      &-avatar {
        width: 80px;
        height: 80px;
      }

      &-desc-name {
        margin-bottom: 5px;
        font-size: 23px;
      }

      &-desc-country {
        font-size: 18px;
      }
    }

    &__text {
      margin-bottom: 20px;
      font-size: 18px;
    }

    &__rating {
      max-width: 200px;
    }
  }

  .cta {
    padding: 0;

    &__title {
      font-size: 35px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 30px;
      font-size: 20px;
    }

    &__plate {
      min-height: 380px;
      padding: 20px 15px;
      border-radius: 40px;
    }
  }

  .subscribe {
    padding: 25px 0 30px;

    &__title {
      margin-bottom: 30px;
      font-size: 35px;
    }

    &-form {
      padding: 10px 10px 10px 20px;
      border-radius: 25px;
      column-gap: 10px;

      &__input {
        font-size: 20px;
      }
    }
  }

  .nav__login--footer {
    display: none;
  }
}

@media (max-width: 640px) {
  .customers__row {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}

@media (max-width: 600px) {
  .nav--footer {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}

@media (max-width: 480px) {
  .customers__img img {
    max-width: 100%;
  }

  .subscribe-form {
    padding: 10px;
    flex-direction: column;
    row-gap: 10px;
    max-width: 320px;
    width: 100%;
  }

  .subscribe-form__input {
    padding: 15px 0;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    font-size: 18px;
  }

  .nav--mobile {
    & .nav__toggle {
      top: 20px;
      right: 15px;
    }

    & .nav__list,
    & .nav__login {
      row-gap: 20px;
    }
  }

  .nav__list--footer {
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }
}
