.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;

  &__login {
    display: flex;
    align-items: center;
    column-gap: 25px;

    font-size: 15px;
    font-weight: 500;
  }

  &__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;

    &.nav__list--footer a.active::after,
    &.nav__list--footer a:hover::after {
      display: none;
    }

    &.nav__list--footer a.active,
    &.nav__list--footer a:hover {
      color: var(--orange);
    }

    & a {
      position: relative;

      &.active::after,
      &:hover::after {
        content: '';

        position: absolute;
        left: 0;
        right: 10px;
        bottom: -6px;

        display: block;
        /* width: 35px; */
        height: 4px;
        background-color: #c4c4c4;
        border-radius: 50px;
      }
    }
  }
}
