.review {
  max-width: 490px;

  &__client {
    display: flex;
    align-items: center;
    column-gap: 33px;
    margin-bottom: 60px;

    &-avatar {
      overflow: hidden;
      width: 134px;
      height: 134px;
      border-radius: 50%;
      background-color: #ff794e;
    }

    &-desc-name {
      margin-bottom: 10px;
      font-size: 33px;
      font-weight: 500;
      line-height: 1.5;
    }

    &-desc-country {
      font-size: 25px;
      color: var(--secondary);
      line-height: 1.52;
    }
  }

  &__text {
    margin-bottom: 30px;
    color: var(--secondary);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
  }
}
